<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="front_end/quasar-project/dist/spa/favicon.ico" type="image/x-icon"/>
    <title>
        Segment Anything in Remote Sensing Image
    </title>
</head>
<body>
<h1 style="text-align: center">Human Check</h1>
<div style="text-align: center; margin: 0 auto;">
    <img src="front_end/cache/{client_uuid}/question.png"
         alt="check" style="width: 300px; height: 180px;"/>
    <br>
    <input type="text"
           id="answer" name="answer"
           placeholder="Enter your answer here to pass the human check"
           size="40"/>
    <br>
    <button onclick="submit()">Submit</button>
</div>
<script>
    function submit() {
        var answer = document.getElementById("answer").value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/human_check", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({uuid: "{client_uuid}", answer: answer}));
        location.reload();
    }

</script>
</body>
</html>